body {
    background-color: #dce8f2;
    font-family: Arial;
    color: #222222;
}

#strona {
    width: 900px;
    margin: auto;
    background-color: white;
}

header {
    background-color: #2f4f7f;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #1f2d3a;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #bc002d;
}

img {
    width: 100%;
    border: 1px solid #7a98ad;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #d9e8f5;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

.miejsce {
    background-color: #f0f6fb;
    border: 1px solid #b7cad8;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #2f4f7f;
    color: white;
    padding: 10px;
    border: 0;
}

footer {
    background-color: #1f2d3a;
    color: white;
    text-align: center;
    padding: 10px;
}
