body {
    background-color: #eeeeee;
    font-family: Arial;
    color: #222222;
}

#strona {
    width: 900px;
    margin: auto;
    background-color: white;
}

header {
    background-color: #bc002d;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #bc002d;
}

img {
    width: 100%;
    border: 1px solid #999999;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2d7d7;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

.miejsce {
    background-color: #f1f1f1;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #bc002d;
    color: white;
    padding: 10px;
    border: 0;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
}
